/* BikeCard.css */

.bike-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    
  }
  
  .card {
    
      width: 300px; /* Set the desired width */
      height: 600px; /* Set the desired height */
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }
  
  
  
  
  