
@media (max-width: 768px) {
    .booking-details {
      width: 100%;
      height: auto;
    }
  }

 
.table {
    border: 1px solid #dee2e6; /* Table border */
  }
  
  .table th,
  .table td {
    border: 1px solid #dee2e6; /* Cell borders */
  }
  
  