.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color:white;
  color:black;
}
.logo{
  font-size: 46px;
}
.logo-link {
  text-decoration: none;
}


.nav ul {
  list-style: none;
  display: flex;
 
}

.nav ul li {
  margin-right: 20px;
  color: black;
}
.nav-link{
  color: black;
}
.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle span {
  height: 5px;
  width: 35px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.active .nav-toggle span:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.active .nav-toggle span:nth-child(2) {
  opacity: 0;
}

.active .nav-toggle span:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 768px) {
  .nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: white;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .nav.active ul {
    display: flex;
  }

  .nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-toggle {
    display: flex;
  }
}
