/* Header.css */

.header {
  background-color: #f8f9fa; /* Light gray background color */
  padding: 15px 0;
}

.nav-link {
  color: #343a40 !important; /* Dark text color */
  margin-right: 15px;
}

.navbar-brand {
  color: #007bff !important; /* Primary blue color for the brand */
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 15px;
}

.navbar-brand span {
  font-weight: normal;
}

.navbar-toggler-icon {
  color: #007bff; /* Primary blue color for the toggle icon */
}

.navbar-toggler {
  border-color: #007bff; /* Primary blue color for the toggle button border */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #0056b3 !important; /* Darker blue color on hover or active */
}

.bg-body-tertiary {
  background-color: #f8f9fa; /* Light gray background color */
}
